<html>
  <head>
    <title>Bootstrap test</title>
     <link href="ext/bootstrap.min.css" rel="stylesheet">
     <script src="ext/bootstrap.min.js"></script>
  </head>
  <body>

    Monopoly the game

  </body>
</html>