<html>
  <head>
    <title>Bootstrap test</title>
     <link href="bootstrap.min.css" rel="stylesheet">
     <link href="monopoly.css" rel="stylesheet">
     <script src="bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          
          <%= erb :top_cards %>
          
        </div>
      </div>
    </div>

  </body>
</html>