<html>
  <head>
    <title>Bootstrap test</title>
     <link href="bootstrap.min.css" rel="stylesheet">
     <link href="monopoly.css" rel="stylesheet">
     <script src="bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-11">
          
          <%= erb :row_cards, locals: { cards: @top_cards } %>
          <%= erb :side_cards %>
          <%= erb :row_cards, locals: { cards: @bottom_cards } %>
          
        </div>

        <div class="col-md-1">

          <form action="/roll" method="post">
            <input type="submit" value="Roll Dice!">
          </form>

        </div>

      </div>
    </div>

  </body>
</html>