.simple-card{
  width:100px;
  height:150; 
  background-color: green;
  display: inline-block;
}

.simple-card .header {
  width:100px;
  height:50; 
  background-color: red;
}

.jail-card {
  width: 200px;
  height: 150px;
  display: inline-block;
  text-align: center;
  background-color: #445523;
}

.free-parking-card {
  width: 200px;
  height: 150px;
  display: inline-block;
  text-align: center;
  background-color: #445523;
}

.middle-space {
  width: 930px; 
  display: inline-block;
}

.horizontal-card{
  width: 200px;
  height: 100px;
  display: inline-block;
  background-color: #DD3222;
}

.player {
  position: absolute;
}
